  <div class="card m-4">
      <div class="card-header">
          <h4 class="card-title">
              Rips
          </h4>
      </div>
          <div class="card-body">
            <div class="row m-2">
                <div class="col-sm-5">
                     <select name="entidad" id="entidad" onchange="verRips()" class="form-control form-control-sm">
                        <option value="">.::Seleccionar::.</option>
                        {{#each valores}}
                        <option value="{{nit}}">{{rsocial}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
              <div class="row">
                  
                <table class="table">
                    <thead>
                        <tr>                          
                            <th scope="col">Rips</th>                                                
                            <th scope="col">Accion</th>
                        </tr>
                    </thead>
                    <tbody id="rips"> 
                        
                    </tbody>
                </table>
            </div>
           
          </div>
      </div>
  </div>