{{#each valores}}
<div class="card m-4">
    <div class="card-header">
        <h4 class="card-title">Creacion de Rips</h4>
    </div>
    <div class="card-body">
        <form action="/rips" method="POST">
        <input type="hidden" value="{{nombre}}" name="nombre" id="nombre">
        <input type="hidden" value="{{consecutivo}}" name="consecutivo" id="consecutivo">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <span class="small"><b>Inicio</b></span>
                        <input type="date" class="form-control form-control-sm" min="{{perdido_fin}}" id="finicio"
                            name="finicio">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <span class="small"><b>Final</b></span>
                        <input type="date" class="form-control form-control-sm" min="{{perdido_fin}}" id="ffinal"
                            name="ffinal">
                    </div>
                </div>
            </div>
          
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <button class="btn btn-success btn-sm">Generar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{{/each}}