<div class="row mt-3">
    <div class="col-sm-10">
        <form action="/addentidades" method="POST">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-titel"> Entidades</h3>
                </div>
                <div class="card-body">

                    <div class="row">

                        <div class="col-sm-4">
                            <span class="small"><b>Tipo</b></span>
                            <select name="tipoid" id="tipoid" class="form-control form-control-sm" required>
                                <option value="NI">Nit</option>
                                <option value="CC">Cedula</option>
                                <option value="CE">Cedula Extranjera</option>
                                <option value="CD">Carnet</option>
                                <option value="PA">Pasaporte</option>
                                <option value="PE">Permiso Especial</option>
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <span class="small"><b>Nit. </b></span>
                                <input type="text" class="form-control form-control-sm" id="nit" name="nit"
                                    onblur=" blurentidadCedula()" placeholder="Nro Nit." required>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <span class="small"><b>Razon Social</b></span>
                                <input type="text" class="form-control form-control-sm" id="rsocial" name="rsocial"
                                    placeholder="Razon Social" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">                        
                        <div class="col-sm-4">
                            <div class="form-group">
                                <span class="small"><b>Cod.Eps</b></span>
                                <input type="text" class="form-control form-control-sm" id="cdeps" name="cdeps"
                                    placeholder="cod eps" required>
                            </div>
                        </div>
                         <div class="col-sm-4">
                            <div class="form-group">
                                <span class="small"><b>T.Facturacion</b></span>
                                <select name="tfac" id="tfac" class="form-control form-control-sm" required>
                                    <option value="">Seleccione</option>
                                    <option value="">USUARIO</option>
                                    <option value="capita">CAPITA</option>
                                    <option value="evento">EVENTO</option>
                                </select>
                            </div>
                        </div>
                         <div class="col-sm-4">
                            <div class="form-group">
                                <span class="small"><b>V.Capita</b></span>
                                <input type="text" class="form-control form-control-sm" id="vcap" name="vcap"
                                    placeholder="$ Valor" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <span class="small"><b>Regimen</b></span>
                                <select name="regimen" id="regimen" class="form-control form-control-sm" required>
                                    <option value="">::Regimen::</option>
                                    <option value="1">Contributivo</option>
                                    <option value="2">Subsidiado</option>
                                    <option value="3">Vinculado</option>
                                    <option value="4">Particular</option>
                                    <option value="5">otro</option>
                                    <option value="6">Victima contributivo</option>
                                    <option value="7">Victima Subsidiado</option>
                                    <option value="8">victima no asegurado</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <span class="small"><b>Contrato</b></span>
                            <input type="text" class="form-control form-control-sm" id="contrato" name="contrato"
                                placeholder="Nro Contrato" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <span class="small"><b>Direccion</b></span>
                                <input type="text" class="form-control form-control-sm" id="direccion" name="direccion"
                                    placeholder="Direccion" required>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <span class="small"><b>Telefono</b></span>
                                <input type="text" class="form-control form-control-sm" id="telefono" name="telefono"
                                    placeholder="Telfonos" required>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <span class="small"><b>Email</b></span>
                        <input type="email" class="form-control form-control-sm" id="email" name="email"
                            placeholder="email" required>
                    </div>

                    <input type="hidden" id="id" name="id">
                    <div class="form-group">
                        <button id="ingresar" class="btn btn-primary btn-block">Ingresar</button>

                    </div>
                </div>
            </div>
        </form>
        <div class="form-group">
            <button onclick="actualizarentidad()" id="actualizar" class="btn btn-warning btn-block"
                style="visibility: hidden;">Actualizar</button>
        </div>
    </div>

</div>