<div class="card">
    <div class="">
        INGRESOS DE CODIGOS CIE10
    </div>
    <div class="card-body">
        <div id="progres"></div>
        <input type="checkbox" id="c1" class="form-cotrol mr-2" onclick="cargarArrayCie(1)" value="1">Ciertas
        enfermedades infecciosas y parasitarias (A00-B99) <br>
        <input type="checkbox" id="c2" class="form-cotrol mr-2" onclick="cargarArrayCie(2)" value="2">Tumores
        [neoplasias] (C00-D48) <br>
        <input type="checkbox" id="c3" class="form-cotrol mr-2" onclick="cargarArrayCie(3)" value="3">Enfermedades de la
        sangre y de los organos hematopoyeticos, y ciertos trastornos que afectan el mecanismo de la inmunidad (D50-D89)
        <br>
        <input type="checkbox" id="c4" class="form-cotrol mr-2" onclick="cargarArrayCie(4)" value="4">Enfermedades
        endocrinas, nutricionales y metabolicas (E00-E90)<br>
        <input type="checkbox" id="c5" class="form-cotrol mr-2" onclick="cargarArrayCie(5)" value="5">Trastornos
        mentales y del comportamiento (F00-F99)<br>
        <input type="checkbox" id="c6" class="form-cotrol mr-2" onclick="cargarArrayCie(6)" value="6">Enfermedades del
        sistema nervioso (G00-G99)<br>
        <input type="checkbox" id="c7" class="form-cotrol mr-2" onclick="cargarArrayCie(7)" value="7">Enfermedades del
        ojo y sus anexos (H00-H59)<br>
        <input type="checkbox" id="c8" class="form-cotrol mr-2" onclick="cargarArrayCie(8)" value="8">Enfermedades del
        oido y de la apofisis mastoides (H60-H95)<br>
        <input type="checkbox" id="c9" class="form-cotrol mr-2" onclick="cargarArrayCie(9)" value="9">Enfermedades del
        sistema circulatorio (I00-I99)<br>
        <input type="checkbox" id="c10" class="form-cotrol mr-2" onclick="cargarArrayCie(10)" value="10">Enfermedades
        del sistema respiratorio (J00-J99)<br>
        <input type="checkbox" id="c11" class="form-cotrol mr-2" onclick="cargarArrayCie(11)" value="11">Enfermedades
        del sistema digestivo (K00-K93)<br>
        <input type="checkbox" id="c12" class="form-cotrol mr-2" onclick="cargarArrayCie(12)" value="12">Enfermedades de
        la piel y del tejido subcutaneo (L00-L99)<br>
        <input type="checkbox" id="c13" class="form-cotrol mr-2" onclick="cargarArrayCie(13)" value="13">Enfermedades
        del sistema osteomuscular y del tejido conjuntivo (M00-M99)<br>
        <input type="checkbox" id="c14" class="form-cotrol mr-2" onclick="cargarArrayCie(14)" value="14">Enfermedades
        del sistema genitourinario (N00-N99)<br>
        <input type="checkbox" id="c15" class="form-cotrol mr-2" onclick="cargarArrayCie(15)" value="15">Embarazo, parto
        y puerperio (O00-O99)<br>
        <input type="checkbox" id="c16" class="form-cotrol mr-2" onclick="cargarArrayCie(16)" value="16">Ciertas
        afecciones originadas en el periodo perinatal (P00-P96<br>
        <input type="checkbox" id="c17" class="form-cotrol mr-2" onclick="cargarArrayCie(17)" value="17">Malformaciones
        congenitas, deformidades y anomalias cromosomicas (Q00-Q99)<br>
        <input type="checkbox" id="c18" class="form-cotrol mr-2" onclick="cargarArrayCie(18)" value="18">Sintomas,
        signos y hallazgos anormales clinicos y de laboratorio, no clasificados en otra parte (R00-R99)<br>
        <input type="checkbox" id="c19" class="form-cotrol mr-2" onclick="cargarArrayCie(19)" value="19">Traumatismos,
        envenenamiento y algunas otras consecuencias de causas externas (S00-T98)<br>
        <input type="checkbox" id="c20" class="form-cotrol mr-2" onclick="cargarArrayCie(20)" value="20">Causas externas
        de morbilidad y de mortalidad (V01-Y98)<br>
        <input type="checkbox" id="c21" class="form-cotrol mr-2" onclick="cargarArrayCie(21)" value="21">Factores que
        influyen en el estado de salud y contacto con los servicios de salud (Z00-Z99)<br>
        <input type="checkbox" id="c22" class="form-cotrol mr-2" onclick="cargarArrayCie(22)" value="22">C贸digos para
        prop贸sitos especiales (U00-U99)<br>

    </div>
    <div class="card-footer">
        <div class="row">
            <div class="col-sm-2"><button class="btn btn-primary" onclick="IngresarCie10()"> crear Cie10</button></div>
            <div class="col-sm-3"><a href="#" class="btn btn-warning" onclick="AgregamosMedicamentos()">Agregar
                    Medicamentos</a></div>
        </div>
    </div>
</div>
<div id="toats"></div>
<div class="accordion" id="accordionExample">
    <div class="card">
        <div class="" id="headingThree">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" onclick="MostrarCie10(1)" data-toggle="collapse"
                    data-target="#m1" aria-expanded="false" aria-controls="collapseThree">
                    Ciertas enfermedades infecciosas y parasitarias (A00-B99)
                    <div class="spinner-border " role="status" id="s1" style="visibility: hidden;">
                        <span class="sr-only">Loading...</span>
                    </div>
                </button>
            </h2>
        </div>
        <div id="m1" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body" id="contenido1">
            </div>
        </div>
    </div>
    <div class="card">
        <div class="" id="headingThree2">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" onclick="MostrarCie10(2)" data-toggle="collapse"
                    data-target="#m2" aria-expanded="false" aria-controls="collapseThree">
                    Tumores [neoplasias] (C00-D48)
                    <div class="spinner-border " role="status" id="s2" style="visibility: hidden;">
                        <span class="sr-only">Loading...</span>
                    </div>
                </button>
            </h2>
        </div>
        <div id="m2" class="collapse" aria-labelledby="headingThree2" data-parent="#accordionExample">
            <div class="card-body" id="contenido2">
            </div>
        </div>
    </div>
    <div class="card">
        <div class="" id="headingThree3">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" onclick="MostrarCie10(3)" data-toggle="collapse"
                    data-target="#m3" aria-expanded="false" aria-controls="collapseThree">
                    Enfermedades de la sangre y de los organos hematopoyeticos, y ciertos trastornos que afectan el
                    mecanismo de la inmunidad (D50-D89)
                    <div class="spinner-border " role="status" id="s3" style="visibility: hidden;">
                        <span class="sr-only">Loading...</span>
                    </div>
                </button>
            </h2>
        </div>
        <div id="m3" class="collapse" aria-labelledby="headingThree3" data-parent="#accordionExample">
            <div class="card-body" id="contenido3">
            </div>
        </div>
    </div>
    <div class="card">
        <div class="" id="headingThree4">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" onclick="MostrarCie10(4)" data-toggle="collapse"
                    data-target="#m4" aria-expanded="false" aria-controls="collapseThree">
                    Enfermedades endocrinas, nutricionales y metabolicas (E00-E90)
                    <div class="spinner-border " role="status" id="s4" style="visibility: hidden;">
                        <span class="sr-only">Loading...</span>
                    </div>
                </button>
            </h2>
        </div>
        <div id="m4" class="collapse" aria-labelledby="headingThree4" data-parent="#accordionExample">
            <div class="card-body" id="contenido4">
            </div>
        </div>
    </div>
    <div class="card">
        <div class="" id="headingThree5">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" onclick="MostrarCie10(5)" data-toggle="collapse"
                    data-target="#m5" aria-expanded="false" aria-controls="collapseThree">
                    Trastornos mentales y del comportamiento (F00-F99)
                    <div class="spinner-border " role="status" id="s5" style="visibility: hidden;">
                        <span class="sr-only">Loading...</span>
                    </div>
                </button>
            </h2>
        </div>
        <div id="m5" class="collapse" aria-labelledby="headingThree6" data-parent="#accordionExample">
            <div class="card-body" id="contenido5">
            </div>
        </div>
    </div>
    <div class="card">
        <div class="" id="headingThree6">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" onclick="MostrarCie10(6)" data-toggle="collapse"
                    data-target="#m6" aria-expanded="false" aria-controls="collapseThree">
                    Enfermedades del sistema nervioso (G00-G99)
                    <div class="spinner-border " role="status" id="s6" style="visibility: hidden;">
                        <span class="sr-only">Loading...</span>
                    </div>
                </button>
            </h2>
        </div>
        <div id="m6" class="collapse" aria-labelledby="headingThree6" data-parent="#accordionExample">
            <div class="card-body" id="contenido6">
            </div>
        </div>
    </div>
    <div class="card">
        <div class="" id="headingThree7">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" onclick="MostrarCie10(7)" data-toggle="collapse"
                    data-target="#m7" aria-expanded="false" aria-controls="collapseThree">
                    Enfermedades del ojo y sus anexos (H00-H59)
                    <div class="spinner-border " role="status" id="s7" style="visibility: hidden;">
                        <span class="sr-only">Loading...</span>
                    </div>
                </button>
            </h2>
        </div>
        <div id="m7" class="collapse" aria-labelledby="headingThree7" data-parent="#accordionExample">
            <div class="card-body" id="contenido7">
            </div>
        </div>
    </div>
    <div class="card">
        <div class="" id="headingThree8">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" onclick="MostrarCie10(8)" data-toggle="collapse"
                    data-target="#m8" aria-expanded="false" aria-controls="collapseThree">
                    Enfermedades del oido y de la apofisis mastoides (H60-H95)
                    <div class="spinner-border " role="status" id="s8" style="visibility: hidden;">
                        <span class="sr-only">Loading...</span>
                    </div>
                </button>
            </h2>
        </div>
        <div id="m8" class="collapse" aria-labelledby="headingThree8" data-parent="#accordionExample">
            <div class="card-body" id="contenido8">
            </div>
        </div>
    </div>
    <div class="card">
        <div class="" id="headingThree9">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" onclick="MostrarCie10(9)" data-toggle="collapse"
                    data-target="#m9" aria-expanded="false" aria-controls="collapseThree">
                    Enfermedades del sistema circulatorio (I00-I99)
                    <div class="spinner-border " role="status" id="s9" style="visibility: hidden;">
                        <span class="sr-only">Loading...</span>
                    </div>
                </button>
            </h2>
        </div>
        <div id="m9" class="collapse" aria-labelledby="headingThree9" data-parent="#accordionExample">
            <div class="card-body" id="contenido9">
            </div>
        </div>
    </div>
    <div class="card">
        <div class="" id="headingThree10">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" onclick="MostrarCie10(10)" data-toggle="collapse"
                    data-target="#m10" aria-expanded="false" aria-controls="collapseThree">
                    Enfermedades del sistema respiratorio (J00-J99)
                    <div class="spinner-border " role="status" id="s10" style="visibility: hidden;">
                        <span class="sr-only">Loading...</span>
                    </div>
                </button>
            </h2>
        </div>
        <div id="m10" class="collapse" aria-labelledby="headingThree10" data-parent="#accordionExample">
            <div class="card-body" id="contenido10">
            </div>
        </div>
    </div>
    <div class="card">
        <div class="" id="headingThree11">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" onclick="MostrarCie10(11)" data-toggle="collapse"
                    data-target="#m11" aria-expanded="false" aria-controls="collapseThree">
                    Enfermedades del sistema digestivo (K00-K93)
                    <div class="spinner-border " role="status" id="s11" style="visibility: hidden;">
                        <span class="sr-only">Loading...</span>
                    </div>
                </button>
            </h2>
        </div>
        <div id="m11" class="collapse" aria-labelledby="headingThree11" data-parent="#accordionExample">
            <div class="card-body" id="contenido11">
            </div>
        </div>
    </div>
    <div class="card">
        <div class="" id="headingThree12">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" onclick="MostrarCie10(12)" data-toggle="collapse"
                    data-target="#m12" aria-expanded="false" aria-controls="collapseThree">
                    Enfermedades de la piel y del tejido subcutaneo (L00-L99)
                    <div class="spinner-border " role="status" id="s12" style="visibility: hidden;">
                        <span class="sr-only">Loading...</span>
                    </div>
                </button>
            </h2>
        </div>
        <div id="m12" class="collapse" aria-labelledby="headingThree12" data-parent="#accordionExample">
            <div class="card-body" id="contenido12">
            </div>
        </div>
    </div>
    <div class="card">
        <div class="" id="headingThree13">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" onclick="MostrarCie10(13)" data-toggle="collapse"
                    data-target="#m13" aria-expanded="false" aria-controls="collapseThree">
                   Enfermedades del sistema osteomuscular y del tejido conjuntivo (M00-M99)
                    <div class="spinner-border " role="status" id="s13" style="visibility: hidden;">
                        <span class="sr-only">Loading...</span>
                    </div>
                </button>
            </h2>
        </div>
        <div id="m13" class="collapse" aria-labelledby="headingThree13" data-parent="#accordionExample">
            <div class="card-body" id="contenido13">
            </div>
        </div>
    </div>
    <div class="card">
        <div class="" id="headingThree14">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" onclick="MostrarCie10(14)" data-toggle="collapse"
                    data-target="#m14" aria-expanded="false" aria-controls="collapseThree">
                    Enfermedades del sistema genitourinario (N00-N99)
                    <div class="spinner-border " role="status" id="s14" style="visibility: hidden;">
                        <span class="sr-only">Loading...</span>
                    </div>
                </button>
            </h2>
        </div>
        <div id="m14" class="collapse" aria-labelledby="headingThree14" data-parent="#accordionExample">
            <div class="card-body" id="contenido14">
            </div>
        </div>
    </div>
    <div class="card">
        <div class="" id="headingThree15">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" onclick="MostrarCie10(15)" data-toggle="collapse"
                    data-target="#m15" aria-expanded="false" aria-controls="collapseThree">
                    Embarazo, parto y puerperio (O00-O99)
                    <div class="spinner-border " role="status" id="s15" style="visibility: hidden;">
                        <span class="sr-only">Loading...</span>
                    </div>
                </button>
            </h2>
        </div>
        <div id="m15" class="collapse" aria-labelledby="headingThree15" data-parent="#accordionExample">
            <div class="card-body" id="contenido15">
            </div>
        </div>
    </div>
    <div class="card">
        <div class="" id="headingThree16">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" onclick="MostrarCie10(16)" data-toggle="collapse"
                    data-target="#m16" aria-expanded="false" aria-controls="collapseThree">
                    Ciertas afecciones originadas en el periodo perinatal (P00-P96)
                    <div class="spinner-border " role="status" id="s16" style="visibility: hidden;">
                        <span class="sr-only">Loading...</span>
                    </div>
                </button>
            </h2>
        </div>
        <div id="m16" class="collapse" aria-labelledby="headingThree16" data-parent="#accordionExample">
            <div class="card-body" id="contenido16">
            </div>
        </div>
    </div>
    <div class="card">
        <div class="" id="headingThree17">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" onclick="MostrarCie10(17)" data-toggle="collapse"
                    data-target="#m17" aria-expanded="false" aria-controls="collapseThree">
                    Malformaciones congenitas, deformidades y anomalias cromosomicas (Q00-Q99)
                    <div class="spinner-border " role="status" id="s17" style="visibility: hidden;">
                        <span class="sr-only">Loading...</span>
                    </div>
                </button>
            </h2>
        </div>
        <div id="m17" class="collapse" aria-labelledby="headingThree17" data-parent="#accordionExample">
            <div class="card-body" id="contenido17">
            </div>
        </div>
    </div>
    <div class="card">
        <div class="" id="headingThree18">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" onclick="MostrarCie10(18)" data-toggle="collapse"
                    data-target="#m18" aria-expanded="false" aria-controls="collapseThree">
                    Sintomas, signos y hallazgos anormales clinicos y de laboratorio, no clasificados en otra parte (R00-R99)
                    <div class="spinner-border " role="status" id="s18" style="visibility: hidden;">
                        <span class="sr-only">Loading...</span>
                    </div>
                </button>
            </h2>
        </div>
        <div id="m18" class="collapse" aria-labelledby="headingThree18" data-parent="#accordionExample">
            <div class="card-body" id="contenido18">
            </div>
        </div>
    </div>
    <div class="card">
        <div class="" id="headingThree19">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" onclick="MostrarCie10(19)" data-toggle="collapse"
                    data-target="#m19" aria-expanded="false" aria-controls="collapseThree">
                    Traumatismos, envenenamiento y algunas otras consecuencias de causas externas (S00-T98)
                    <div class="spinner-border " role="status" id="s19" style="visibility: hidden;">
                        <span class="sr-only">Loading...</span>
                    </div>
                </button>
            </h2>
        </div>
        <div id="m19" class="collapse" aria-labelledby="headingThree19" data-parent="#accordionExample">
            <div class="card-body" id="contenido19">
            </div>
        </div>
    </div>
    <div class="card">
        <div class="" id="headingThree20">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" onclick="MostrarCie10(20)" data-toggle="collapse"
                    data-target="#m20" aria-expanded="false" aria-controls="collapseThree">
                   Causas externas de morbilidad y de mortalidad (V01-Y98)
                    <div class="spinner-border " role="status" id="s20" style="visibility: hidden;">
                        <span class="sr-only">Loading...</span>
                    </div>
                </button>
            </h2>
        </div>
        <div id="m20" class="collapse" aria-labelledby="headingThree20" data-parent="#accordionExample">
            <div class="card-body" id="contenido20">
            </div>
        </div>
    </div>
    <div class="card">
        <div class="" id="headingThree21">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" onclick="MostrarCie10(21)" data-toggle="collapse"
                    data-target="#m21" aria-expanded="false" aria-controls="collapseThree">
                    Factores que influyen en el estado de salud y contacto con los servicios de salud (Z00-Z99)
                    <div class="spinner-border " role="status" id="s21" style="visibility: hidden;">
                        <span class="sr-only">Loading...</span>
                    </div>
                </button>
            </h2>
        </div>
        <div id="m21" class="collapse" aria-labelledby="headingThree21" data-parent="#accordionExample">
            <div class="card-body" id="contenido21">
            </div>
        </div>
    </div>
    <div class="card">
        <div class="" id="headingThree22">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" onclick="MostrarCie10(22)" data-toggle="collapse"
                    data-target="#m22" aria-expanded="false" aria-controls="collapseThree">
                    C贸digos para prop贸sitos especiales (U00-U99)
                    <div class="spinner-border " role="status" id="s22" style="visibility: hidden;">
                        <span class="sr-only">Loading...</span>
                    </div>
                </button>
            </h2>
        </div>
        <div id="m22" class="collapse" aria-labelledby="headingThree22" data-parent="#accordionExample">
            <div class="card-body" id="contenido22">
            </div>
        </div>
    </div>
</div>