<div class="col-sm-6 mx-auto">
    <div class="card">
        <div class="card-header">
            <b>GESTION DE BACKUP</b>
        </div>
    <div class="card-body">
        <form action="/backup" method="POST">
            <div class="row">
                <div class="col-sm-3">
                    <button class="btn btn-success"> Crear backup</button>
                </div>
                <div class="col-sm-3"> <a href="/descargar_backup">Descargar backup</a></div>
            </div>

        </form>
    </div>
</div>
</div>