<div class="card">
    <div class="card-header">
        <h5><b> Registro de firma</b></h5>
    </div>
    <div class="card-body">
        <div class="row mx-auto">
            <div class="col-sm-12">
                <form autocomplete="off" ref='uploadForm' id='uploadForm' action='/imagenes' method='POST'
                    encType="multipart/form-data">
                    <div class="row">
                        <div class="col-sm-4">
                            <select name="medico" id="medico" class="form-control form-control-sm" required>
                                <option value="">SELECCIONE MEDICO</option>
                                {{#each medico}}
                                <option value="{{cedula}}">{{nombres}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="file" id="firma_img" name="firma_img" required>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <button class="btn btn-info btn-sm">Guardar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="card mt-3">
    <div class="card-header">
        <h5><b> Subir Logo</b></h5>
    </div>
    <div class="card-body">
        <div class="row mx-auto">
            <div class="col-sm-12">
                <form autocomplete="off" ref='uploadForm' id='uploadForm' action='/logo' method='POST'
                    encType="multipart/form-data">
                    <div class="row">                        
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="file" id="logo_img" name="logo_img" required>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <button class="btn btn-info btn-sm btn-block">Subir</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>