<div class="row">
    <div class="col-sm-6">
        <form action="/addpacientes" method="POST">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-titel"> Pacientes</h3>
                </div>
                <div class="card-body">

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <span class="small"><b>T.Doc</b></span>
                                <select name="td" id="td" class="form-control form-control-sm" required>
                                    <option value="">T.Doc</option>
                                    <option value="CC">Cedula ciudadania</option>
                                    <option value="CE">Cedula de extramgeria</option>
                                    <option value="CD">Carnet diplomatico</option>
                                    <option value="PA">Pasaporte</option>
                                    <option value="SC">Salvo Conducto</option>
                                    <option value="PE">Permiso Especial</option>
                                    <option value="RC">Registro Civil</option>
                                    <option value="TI">Tarjeta de identidad</option>
                                    <option value="CN">Nacido vivo</option>
                                    <option value="AS">Adulto sin identidad</option>
                                    <option value="MS">Menor sin identidad</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="form-group">
                                <span class="small"><b>Cedula pacientes</b></span>
                                <input type="text" class="form-control form-control-sm" id="cedula" name="cedula"
                                    onblur="MostrarLocalidad()" placeholder="Cedula" required>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <span class="small"><b>Nombres</b></span>
                        <div class="row ">
                            <div class="col-sm-3"><input type="text" class="form-control form-control-sm" id="nombre"
                                    name="nombre" placeholder="Nombre" required></div>
                            <div class="col-sm-3"><input type="text" class="form-control form-control-sm" id="snombre"
                                    name="snombre" placeholder="2do Nombre"></div>
                            <div class="col-sm-3"><input type="text" class="form-control form-control-sm" id="apellido"
                                    name="apellido" placeholder="Apellido" required></div>
                            <div class="col-sm-3"><input type="text" class="form-control form-control-sm" id="sapellido"
                                    name="sapellido" placeholder="2do Apellido" required></div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <span class="small"><b>Sexo</b></span>
                                <select name="sexo" id="sexo" class="form-control form-control-sm">
                                    <option value="">Sexo</option>
                                    <option value="F">FEMENINO</option>
                                    <option value="M">MASCULINO</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3 p-0">
                            <span class="small"><b>F. Nacimiento</b></span>
                            <div class="form-group">
                                <input type="date" class="form-control form-control-sm" id="nacimiento"
                                    name="nacimiento" onblur="calculateAge()" required >
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <span class="small"><b>Edad</b></span>
                            <div class="form-group">
                                <input type="number" name="edad" id="edad" class="form-control form-control-sm"
                                    placeholder="Edad" readonly>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <span class="small"><b>Unidad</b></span>
                            <div class="form-group">
                                <select name="unidad" id="unidad" class="form-control form-control-sm">
                                    <option value="1">años</option>
                                    <option value="2">mes</option>
                                    <option value="3">dia</option>
                                </select>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <span class="small"><b>E.C</b></span>
                                <select name="ecivil" id="ecivil" class="form-control form-control-sm" required>
                                    <option value="">Estado Civil</option>
                                    <option value="S">Soltero</option>
                                    <option value="C">casado</option>
                                    <option value="U">u.libre</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <span class="small"><b>Direccion</b></span>
                                <input type="text" class="form-control form-control-sm" id="direccion" name="direccion"
                                    placeholder="direccion pacientes" required>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <span class="small"><b>Telefono</b></span>
                                <input type="text" class="form-control form-control-sm" id="telefono" name="telefono"
                                    placeholder="Telfonos" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <span class="small"><b>Email</b></span>
                                <input type="text" class="form-control form-control-sm small" id="email" name="email"
                                    placeholder="email" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 m-0 p-1">
                            <div class="form-group">
                                <span class="small"><b>Municipio</b></span>
                                <div id="munis">
                                    <input type="text" placeholder="municipio" readonly class="form-control form-control-sm">
                                </div>
                            </div>
                        </div>
                          <div class="col-sm-2 m-0 p-1">
                            <div class="form-group">
                                <span class="small"><b>cd</b></span>
                                <div id="munis">
                                    <input type="text" placeholder="cdM" id="cdm" name="cdM" class="form-control form-control-sm" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3 m-0 p-1">
                            <div class="form-group">
                                <span class="small"><b>Dep.</b></span>
                                <input type="text" name="departamento" id="departamento"
                                    class="form-control form-control-sm" placeholder="departamento" readonly>
                            </div>
                        </div>
                          <div class="col-sm-1 m-0 pt-1 pl-0 pr-0">
                            <div class="form-group">
                                <span class="small"><b>cd</b></span>
                                <input type="text" name="cddep" id="cddep"
                                    class="form-control form-control-sm " placeholder="cod" readonly>
                            </div>
                        </div>
                        <div class="col-sm-3 m-0 p-1">
                            <div class="form-group">
                                <span class="small"><b>Z.residencial</b></span>
                                <select name="zresidencial" id="zresidencial" class="form-control form-control-sm">
                                    <option value="U">Urbana</option>
                                    <option value="R">Rural</option>
                                </select>
                            </div>
                        </div>
                    </div>


                    <input type="hidden" id="id" name="id">
                    <div class="form-group">
                        <button id="ingresar" class="btn btn-primary btn-block">Ingresar</button>

                    </div>
                </div>
            </div>
        </form>
        <div class="form-group">
            <button onclick="actualizarpaciente()" id="actualizar" class="btn btn-warning btn-block"
                style="visibility: hidden;">Actualizar</button>
        </div>
    </div>

</div>