<div class="card">
  <div class="card-header">
    <h4>Centros de costos</h4>
  </div>
  <div class="card-body">
    <form action="/ccostos" method="post">
      <div class="row">
      <div class="col-sm-6">
        <label for="">Nombre</label>
        <input type="text" id="nombre" name="nombre" placeholder="Nombre del centro de costo" class="form-control form-control-sm">
      </div>
       <div class="col-sm-6">
        <label for="">Descripcion</label>
        <input type="text" id="descripcion" name="descripcion" placeholder="Descripcion Breve del centro de costo" class="form-control form-control-sm">
      </div>
      <div class="col-sm-6">
        <button class="btn btn-success btn-sm btn-block mt-2">Guardar </button>
      </div>
    </div>
    </form>
  </div>
</div>