<form autocomplete="off" ref='uploadForm' id='uploadForm' action='/compras' method='POST' encType="multipart/form-data">
<input type="hidden" name="datos" id="datos" required>
<div class="card">
    <div class="card-header">
        <h4>Registrar Compras</h4>
    </div>
    <div class="card-body">
        <div class="row">
          <div class="col-sm-2">
                <span class="small"><b>Nro factura</b></span>
                <input type="text" id="factura" name="factura" class="form-control form-control-sm"
                    placeholder="Nro" required >
            </div>
            <div class="col-sm-3">
                <span class="small"><b>Proveedores</b></span>
                <select name="proveedor" id="proveedor" class="form-control form-control-sm" onchange="completarProducto()" required>
                    <option value="">Seleccione Proveedor</option>
                    {{#each proveedores}}
                    <option value="{{nit}}">{{nombre}}</option>
                    {{/each}}
                </select>
            </div>
          
           <div class="col-sm-2">
                <span class="small"><b>Fecha</b></span>
                <input type="date" id="fecha" name="fecha" class="form-control form-control-sm" required>
            </div>
               <div class="col-sm-5">
                <span class="small"><b>Factura JPG</b></span>
                <input type="file" id="doc" name="doc" required>
            </div>
             <div class="col-sm-12 mt-4">
                <button class="btn btn-success btn-sm btn-block"><i class="fas fa-save"> </i> Registrar Compra</button>
            </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <hr>
          </div>
          <div class="col-sm-4">
            <span class="small"><b>Producto</b></span>
            <input type="text" id="producto" name="producto" class="form-control form-control-sm productos" placeholder="Producto" onblur="ValidarProducto()">
          </div>
          <div class="col-sm-2">
                <span class="small"><b>Cantidad</b></span>
                <input type="number" id="cantidad" name="cantidad" class="form-control form-control-sm" placeholder="#">
            </div> 
             <div class="col-sm-2">
                <span class="small"><b>Costo</b></span>
                <input type="number" id="costo" name="costo" class="form-control form-control-sm" placeholder="Costo">
            </div>
             <div class="col-sm-2">
                <span class="small"><b>Iva Valor</b></span>
                <input type="number" id="iva" name="iva" style="color: red;" class="form-control form-control-sm"
                    value="19" placeholder="Valor Iva">
            </div>
            <div class="col-sm-2">
                <span class="small"><b>ReteIca Valor</b></span>
                <input type="number" id="ica" name="ica" style="color: red;" class="form-control form-control-sm"
                    value="0" placeholder="Valor Ica">
            </div>
             <div class="col-sm-12 mt-2">
                <a href="#" class="btn btn-info btn-success btn-sm btn-block" onclick="AgregarProducto()"><i class='fas fa-shopping-cart'
                        style='font-size:14px'></i> Agregrar Producto</a>
            </div>
        </div>  
    </div>
</div>
</form>


<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Producto</th>
            <th scope="col">Costo</th>
            <th scope="col">Iva</th>
            <th scope="col">Ica</th>
            <th scope="col">Total</th>
            <th scope="col">Acction</th>
        </tr>
    </thead>
    <tbody id="productos">       
   </tbody>
</table>