<div class="card">
    <div class="card-header">
        <h4>pedidos Solicitados-Despacho</h4>
    </div>
<div class="card-body">
    {{#each pedidos}}
    <div class="row small">
        <div class="col-sm-1">{{nro}}</div>
        <div class="col-sm-7">{{fecha}}</div>
        <div class="col-sm-3">{{usuario}}</div>
        <div class="col-sm-1"><a href="/verPedidoDespacho/{{_id}}">ver</a></div>
    </div>
    {{/each}}
</div>
</div>