<form action="/pedidos" method="POST">
  <input type="hidden" id="pedido" name="pedido" required>


  <div class="card mb-1">
    <div class="card-header">
      <div class="col-12">
        <input type="text" class="form-control-sm form-control rfid"  id="rfid" onblur="consultarRfid()">
      </div>
    </div>
    <div class="card-body">

      <div class="container">
        <h4>Datos del Empleado</h4>
        <div class="row">
          <div class="col-sm-3 align-items-start">
            <div class="form-group">
              <img src="https://t4.ftcdn.net/jpg/03/46/93/61/360_F_346936114_RaxE6OQogebgAWTalE1myseY1Hbb5qPM.jpg" alt="Foto de la persona" id="foto" class="img-thumbnail" width="200">
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label><b>Nombre:</b></label>
              <input type="text" class="form-control form-control-sm"   readonly required id="nombres" name="empleado" placeholder="Nombres">
            </div>
            <div class="form-group">
              <label><b>Cédula:</b></label>
              <input type="text" class="form-control form-control-sm" id="cedula" readonly required name="ccempleado" placeholder="Cedula">
            </div>
            <div class="form-group">
              <label><b>Cargo:</b></label>
              <p class="form-control-static" id="cargo"></p>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <div class="card-header">
                <h4>Crear Pedido</h4>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-12">
                    <span class="small"><b>Producto</b></span>
                    <input type="text" id="producto" name="producto" placeholder="Producto" onchange="ValidarProducto()"
                      class="form-control form-control-sm productos">
                  </div>
                  <div class="col-sm-3">
                    <span class="small"><b>Cantidad</b></span>
                    <input type="text" id="cantidad" name="cantidad" placeholder="#"
                      class="form-control form-control-sm">
                  </div>
                    <div class="col-sm-9">
                    <span class="small"><b>Centro de costos</b></span>
                    <select name="ccosto" id="ccosto" class="form-control form-control-sm">
                      <option value="">Seleccione</option>
                      {{#each ccosto}}
                      <option value="{{_id}}">{{nombre}}</option>
                      {{/each}}
                    </select>
                  </div>
                  <div class="col-sm-12 mt-4"><span class="btn btn-info btn-block btn-sm" onclick="verificarProducto()"><i
                        class='fas fa-angle-double-down' style='font-size:16px'></i> Agregar a la lista</span></div>
                   
                   <div class="col-sm-12">
                    <hr>
                    <span class="small"><b>Seleccione Supervisor</b></span>
                    <select name="supervisor" id="supervisor" class="form-control form-control-sm" required>
                      <option value="">Supervisor</option>
                      {{#each cordinadores}}
                      <option value="{{medico}}">{{empleado}}</option>
                      {{/each}}
                    </select>
                  </div>
                  <div class="col-sm-12"><span class="small"><b>Observacion</b></span><textarea name="observacion"
                      id="observacion" cols="30" rows="1" class="form-control form-control-sm"
                      placeholder="Observacion"></textarea></div>
                  <div class="col-sm-12 mt-4"><button class="btn btn-success btn-block btn-sm">Crear Pedido</button></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</form>

<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Producto</th>
              <th scope="col">Cantidad</th>
              <th scope="col">ccosto</th>
              <th scope="col">accion</th>
            </tr>
          </thead>
          <tbody id="contenido">
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-sm-12">

    <div class="card">
      <div class="card-header">
        <h3> Historial de entregas</h3>
      </div>
      <div class="card-body">
        <table class="table dtable">
          <thead>
            <tr>
              <th>Codigo</th>
              <th>Producto</th>
              <th>fecha</th>
              <th>Cantidad</th>
            </tr>
          </thead>
          <tbody id="inventario_contenido" >
          
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>