<div class="container mt-3" style="padding-left:25%; padding-right: 25%">
<div class="card">
   <div class="card-header">
      <h4>Perfil</h4>
   </div>
   <div class="card-body">
          <h4> Cuenta: {{user.username}} </h4>  
   </div>
</div>
</div>
