.fac{
    border: 0;
    background: none;
    width: 100%;
    font-size: 14px;   
    margin: 0px;
    padding: 0px;
}
.consecutivo{
    border: 0;
    background: none;
    width: 100%;
    font-size: 20px;  
    color: brown; 
    margin: 0px;
    padding: 0px;
}

.event a {
    background-color:wheat !important;
    color: red !important;
}

.padre{
    position:relative;
  }
  
  .hijo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto; 
  }


  .modal-sm {
    max-width: 70%;
}

.table-bg {
  max-width: 120%;
}