<div class="row">
  <div class="col-sm-6">    
      <div class="row mt-3">
        <div class="col-sm-4">
          <div class="form-group">
            <span class="small"><b>Fecha</b></span>
            <input type="date" id="fecha" name="fecha" value="{{f}}" class="form-control form-control-sm" onchange="consultarCItas()">
          </div>
        </div>
        <div class="col-sm-4">
          <span class="small"><b>Medico</b></span>
          
            <select name="medico" id="medico" class="form-control form-control-sm" onchange="consultarCItas()">
              <option value="">MEDICOS</option>
              {{#each medicos}}
              <option value="{{cedula}}">{{nombres}}</option>
              {{/each}}
            </select>
         
        </div>      
      </div>   
  </div>
  <div class="col-sm-6">
   
      <div class="row mt-3">
        <div class="col-sm-4">
          <div class="form-group">
            <span class="small"><b>Paciente</b></span>
            <input type="text" id="cc" name="cc" class="form-control form-control-sm">
          </div>
        </div>
        <div class="col-sm-6">
          <a href="#" class="btn btn-success btn-sm mt-4" onclick="consultarCItasPaciente()"><i class='fas fa-search' style='font-size:12px' ></i>
            Buscar</a>
        </div>
      </div>
    
  </div>
</div>


<table class="table small mt-3">
  <thead>
    <tr>
      <th scope="col">Fecha</th>
      <th scope="col">Cedula</th>
      <th scope="col">Nombre</th>
      <th scope="col">Medico</th>
      <th scope="col">Entidad</th>
      <th scope="col">Motivo</th>
      <th>accion</th>
    </tr>
  </thead>
  <tbody id="contenido_cita"></tbody>
 
</table>

<!-- Button trigger modal -->