<div class="row mt-1">
    <div class="col-sm-6 p-1 m-1">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-6">
                                <span class="small"><b>Cedula Paciente</b></span>
                                <input type="text" class="form-control form-control-sm" name="cc" id="cc"
                                    onblur="consultarPaciente();" id="cc" placeholder="Cedula">
                            </div>
                            <div class="col-sm-6"><span class="small"><b>Nombres</b></span>
                                <input type="text" class="form-control form-control-sm" name="nombres" id="nombres"
                                    placeholder="Nombres" readonly></div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-4">
                                 <span class="small"><b>Eps</b></span>
                                <div class="entidades">                                   
                                    <select name="" id="" id="entidad" class="form-control form-control-sm">
                                        <option value="">::Eps::</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-1">
                               <input type="hidden" id="diag" name="diag">                               
                            </div>
                            <div class="col-sm-4">
                                <span class="small"><b>Consulta</b></span>
                                <div class="items">
                                    <select name="item" id="item" class="form-control form-control-sm">
                                        <option value="">::Items::</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <span class="small"><b>Telefono</b></span>
                                <input type="number" id="telefono" name="telefono" class="form-control form-control-sm" placeholder="Telefono">
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <span class="small"><b>Medicos</b></span>
                                    <select name="medico" id="medico" class="form-control form-control-sm" onchange="diasmendicos()">
                                        <option value="">.::Seleccione::.</option>
                                        {{#each valores}}
                                        <option value="{{cedula}}">{{nombres}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div id="datepicker"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3 m-1 p-1">
        <div class="card  p-1">
            <div class="card-header">
                selecciones Horario
                <input type="text" name="fecha" id="fecha" class="form-control form-control-sm" readonly>
            </div>
            <div class="card-body">
                <div id="contenido"></div>
            </div>

        </div>
    </div>
</div>