
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                Facturacion Quirurgica
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-3">
                        <span class="small"><b>Documento.</b></span>
                        <input type="text" name="paciente" id="cc" onblur="consultarPaciente();" placeholder="Digite cedula"
                            class="form-control form-control-sm">
                    </div>
                     <div class="col-sm-3">
                        <span class="small"><b>Paciente.</b></span>
                        <input type="text" name="nombres" id="nombres" placeholder="Nombres"
                            class="form-control form-control-sm" readonly>
                    </div>
                    <div class="col-sm-3">
                        <span class="small"><b>Entidad</b></span>
                        <select name="entidad" id="entidad" class="form-control form-control-sm" onchange="consultarProcedimientos()">
                            <option value="">Seleccione</option>
                            {{#each entidades}}
                            <option value="{{nit}}">{{rsocial}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <span class="small"><b>Medicos</b></span>
                        <select name="entidad" id="entidad" class="form-control form-control-sm" onchange="consultarProcedimientos()">
                            <option value="">Seleccione</option>
                            {{#each medicos}}
                            <option value="{{cedula}}">{{nombres}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <span class="small"><b>Procedimientos</b></span>
                        <input type="text"  name="cups" id="cups" placeholder="Procedimiento"
                            class="form-control form-control-sm" onblur="consultarItemProcedimientos()">
                    </div>
                    <div class="col-sm-2">
                        <span class="small"><b>Uvr</b></span>
                        <input type="number" class="form-control form-control-sm" id="uvr" value="0" readonly>
                    </div>
                    <div class="col-sm-2">
                        <span class="small"><b>%</b></span>
                        <input type="number" class="form-control form-control-sm" id="porc" value="0" readonly>
                    </div>
                    <div class="col-sm-4">
                        <span class="small"><b>Via</b></span>
                        <select name="via" id="via" class="form-control form-control-sm">
                            <option value="1">Via 1</option>
                            <option value="2">Via 2</option>
                            <option value="3">Via 3</option>
                            <option value="3">Via 4</option>
                        </select>
                    </div>

                </div>
                <div class="row mt-3">
                    <div class="col-sm-6">
                        <button class="btn btn-success btn-sm" onclick="agregarirugia()">Agregar.</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mt-2">
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Cup</th>
                            <th scope="col">Uvr</th>
                            <th scope="col">Cirujano</th>
                            <th scope="col">Anestesiologo</th>
                            <th scope="col">Ayudante</th>
                            <th scope="col">Quirofano</th>
                            <th scope="col">Materiales</th>
                            <th scope="col">Porcentaje</th>
                            <th scope="col">Total</th>

                        </tr>
                    </thead>
                    <tbody id="contenido" class="small">
                  
                       
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>