<div class="row">
    <div class="col-sm-3">
        <input type="text" name="codigo" id="codigo">
    </div>
    <div class="col-sm-3">
        <button class="btn btn-success btn-sm" onclick="verimagen()">Buscar</button>
    </div>
</div>
<div class="row">
    <div class="col-sm-12" id="galeria">
        
    </div>
</div>